.conrainer {
  width: 1000px;
  // height: 100%;
  display: flex;
  .diagrams {
    .diagrams__item {
      width: 100%;
      height: 100%;
    }
    // .p-chart {
    //   width: 100% !important;
    //   height: 320px !important;
    //   border-radius: 20px !important;
    //   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    // }
  }
}
.statistics {
  display: flex;
  margin: 0 20px;
  .diagrams {
    max-width: 500px;
    height: 300px;
    margin: 24px auto;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 12px;
    overflow: hidden;
  }
  .grafic {
    display: flex;
    margin: 20px;
  }
}
