<div class="container">
  <div class="head">
    <nav class="nav__bar">
      <button class="notes__btn" nz-button routerLink="/notes" routerLinkActive="active">
        Заметки
      </button>
    </nav>
    <div class="logo">
      <img src="img/logo.png" alt="SmartWeather" class="logo__item" />
    </div>
  </div>

  <div class="container__item">
    <h3>Таблица температур стран СНГ</h3>
    <nz-table #basicTable [nzData]="data" [nzBordered]="true" [nzLoading]="loading">
      <thead>
        <tr>
          <th>Страна</th>
          <th>Город</th>
          <th>Температура, °C</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of basicTable.data">
          <td>{{ row.country }}</td>
          <td>{{ row.city }}</td>
          <td>{{ row.temperature }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div class="statistics">
    <div class="diagrams">
      <h3 class="diagrams__item__h3">Круговая диаграмма скорости ветра стран СНГ</h3>
      <p-chart *ngIf="windChartData" type="pie" [data]="windChartData" [options]="windChartOptions">
      </p-chart>
    </div>

    <app-weather-minsk></app-weather-minsk>
  </div>
</div>
