.aside {
  max-width: 100%;
  background-color: var(--bg-primary);
  height: 100%;
  .aside__container {
    display: block;
    padding: 10px;
    .input__container {
      display: flex;
      justify-content: space-between;

      .input__container__item {
        width: 100%;
        margin: 0 40px;
        .input {
          width: 100%;
          border: 1px solid transparent;
          border-radius: 47px;
          padding: 0 10px;
          line-height: 3;
        }
      }
      .input__container__btn {
        width: 250px;
        .write__btn {
          cursor: pointer;
        }
      }
    }
    .notes__container {
      margin: 20px 0;
      padding: 20px;
      width: 100%;
      background-color: transparent;
      .note {
        width: 100%;
        margin: 10px 0;
        background-color: #d2f0ee;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .delete__item {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 200px;
          height: 30px;
          background-color: #e4dfdf;
          border: 1px solid #cacaca;
          border-radius: 5px;
          cursor: pointer;
          color: #850505;
          transition: all 0.5s ease 0s;
          &:hover {
            background-color: #850505;
            color: #e4dfdf;
            transition: all 0.5s ease 0s;
          }
        }
        .text__item {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 15;
          text-align: center;
        }
      }
    }
  }
}
.note {
  // background: var(--bg-primary);
  border: 1px solid var(--border);
  border-radius: 12px; // трендовые скругления 2025

  .delete__item {
    background: #ef4444;
    color: white;
    border-radius: 8px;
  }
}
