.aside {
  max-width: 100%;
  .nav__bar {
    width: 100%;
    padding: 0 25px;
    @media (max-width: 425px) {
      padding: 0 15px;
    }
    @media (max-width: 330px) {
      padding: 0 5px;
    }
    .weather__btn {
      width: 200px;
      line-height: 24px;
      font-size: 16px;
      font-family: serif;
      text-align: center;
      margin: 5px;
      padding: 5px;
      border: 1px solid var(--border);
      background-color: rgba(79, 70, 229, 0.1);
      color: var(--text-secondary);
      border-radius: 12px;
      transition: 0.5s;
      @media (max-width: 768px) {
        width: 150px;
        line-height: 20px;
        font-size: 14px;
        font-family: serif;
        text-align: center;
        margin: 5px;
        padding: 5px;
        border: 1px solid var(--border);
        background-color: rgba(79, 70, 229, 0.1);
        color: var(--text-secondary);
        border-radius: 12px;
        transition: 0.5s;
      }
      @media (max-width: 425px) {
        width: 100px;
        line-height: 20px;
        font-size: 12px;
        font-family: serif;
        text-align: center;
        margin: 5px;
        padding: 5px;
        border: 1px solid var(--border);
        background-color: rgba(79, 70, 229, 0.1);
        color: var(--text-secondary);
        border-radius: 12px;
        transition: 0.5s;
      }
      @media (max-width: 330px) {
        line-height: 16px;
      }
      &:hover {
        background-color: var(--primary);
        color: var(--bg-secondary);
        transition: 0.5s;
        cursor: pointer;
      }
    }
  }

  .aside__container {
    height: 100%;
    display: block;
    padding: 10px;
    .input__container {
      padding: 0 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @media (max-width: 425px) {
        padding: 0 10px;
      }
      @media (max-width: 330px) {
        padding: 0;
      }
      .input__container__item {
        width: 100%;
        margin: 0 20px 0 0;

        @media (max-width: 425px) {
          margin: 0 10px 0 0;
        }
        @media (max-width: 330px) {
          margin: 0 10px 0 0;
        }
        .input {
          width: 100%;
          border: 3px solid rgba(79, 70, 229, 0.1);
          border-radius: 47px;
          padding: 0 10px;
          font-size: 24px;
          color: var(--text-secondary);
          font-weight: 200;
          line-height: 54px;
          @media (max-width: 1024px) {
            line-height: 32px;
            font-size: 18px;
            font-weight: 200;
          }
          @media (max-width: 425px) {
            line-height: 24px;
            font-size: 14px;
            font-weight: 200;
          }
          @media (max-width: 375px) {
            line-height: 24px;
            font-size: 14px;
            font-weight: 100;
          }
        }
      }
      .input__container__btn {
        .write__btn {
          width: 150px;
          line-height: 52px;
          font-size: 16px;
          font-family: serif;
          text-align: center;
          margin: 5px;
          padding: 5px;
          border: 1px solid var(--border);
          background-color: rgba(79, 70, 229, 0.1);
          color: var(--text-secondary);
          border-radius: 12px;
          transition: 0.5s;
          @media (max-width: 1024px) {
            width: 150px;
            font-size: 12px;
            line-height: 24px;
          }
          @media (max-width: 425px) {
            width: 100px;
            font-size: 12px;
            line-height: 16px;
            margin: 0;
          }
          @media (max-width: 330px) {
            width: 100px;
            font-size: 12px;
            line-height: 16px;
            margin: 0;
          }
          &:hover {
            background-color: var(--primary);
            color: var(--bg-secondary);
            transition: 0.5s;
            cursor: pointer;
          }
        }
      }
    }
    .notes__container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin: 20px 0;
      padding: 20px;
      width: 100%;
      background-color: transparent;
      position: relative;
      @media (max-width: 670px) {
        margin: 10px 0;
        padding: 10px;
      }
      @media (max-width: 330px) {
        margin: 10px 0;
        padding: 0;
      }
      .note {
        width: 100%;
        margin: 10px 0;
        background-color: rgba(79, 70, 229, 0.1);
        border: 1px solid var(--border);
        border-radius: 12px;
        display: flex;
        flex-direction: column;

        .note__subscrube {
          display: flex;
          flex: 1;
          justify-content: space-between;
          .delete__item {
            width: 180px;
            line-height: 24px;
            font-size: 16px;
            font-family: serif;
            text-align: center;
            margin: 5px;
            padding: 5px;
            border: 1px solid var(--border);
            background-color: rgba(229, 70, 70, 0.1);
            color: #854242;
            border-radius: 12px;
            transition: 0.5s;
            @media (max-width: 1024px) {
              width: 100px;
              line-height: 18px;
              font-size: 12px;
            }
            @media (max-width: 330px) {
              width: 80px;
              line-height: 14px;
              font-size: 12px;
            }

            &:hover {
              background-color: #854242;
              color: var(--bg-secondary);
              transition: 0.5s;
              cursor: pointer;
            }
          }
          .date__item {
            padding: 0 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 200px;
            margin: 0px;
            color: var(--text-secondary);
            font-size: 18px;
            font-weight: 200;
            @media (max-width: 1024px) {
              width: 150px;
              margin: 0px;
              font-size: 12px;
              font-weight: 200;
            }
          }
        }
        .note__item {
          .text__item {
            padding: 10px;
            width: 100%;
            font-size: 24px;
            font-weight: 100;
            line-height: 36px;
            font-family: serif;
            color: var(--text-secondary);
            overflow-wrap: break-word;
            @media (max-width: 1024px) {
              font-size: 16px;
              line-height: 24px;
              font-weight: 100;
            }
            @media (max-width: 425px) {
              line-height: 20px;
            }
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
