.aside {
  max-width: 100%;
  background-color: rgba(79, 70, 229, 0.1);
  .weather__btn {
    width: 200px;
    line-height: 24px;
    font-size: 16px;
    font-family: serif;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--border);
    background-color: rgba(79, 70, 229, 0.1);
    color: var(--text-secondary);
    border-radius: 12px;
    transition: 0.5s;
    &:hover {
      background-color: var(--primary);
      color: var(--bg-secondary);
      transition: 0.5s;
      cursor: pointer;
    }
  }
  .aside__container {
    height: 100%;
    display: block;
    padding: 10px;
    .input__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .input__container__item {
        width: 100%;
        margin: 0 40px;
        @media (max-width: 670px) {
          width: 100%;
          margin: 0 10px;
        }
        .input {
          width: 100%;
          border: 1px solid transparent;
          border-radius: 47px;
          padding: 0 10px;
          line-height: 42px;
          @media (max-width: 670px) {
            line-height: 32px;
          }
        }
      }
      .input__container__btn {
        .write__btn {
          width: 150px;
          line-height: 24px;
          font-size: 16px;
          font-family: serif;
          text-align: center;
          margin: 5px;
          padding: 5px;
          border: 1px solid var(--border);
          background-color: rgba(79, 70, 229, 0.1);
          color: var(--text-secondary);
          border-radius: 12px;
          transition: 0.5s;
          &:hover {
            background-color: var(--primary);
            color: var(--bg-secondary);
            transition: 0.5s;
            cursor: pointer;
          }
          @media (max-width: 500px) {
            width: 100px;
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }
    .notes__container {
      margin: 20px 0;
      padding: 20px;
      width: 100%;
      background-color: transparent;
      position: relative;
      @media (max-width: 670px) {
        margin: 10px 0;
        padding: 10px;
      }
      .note {
        width: 100%;
        margin: 10px 0;
        background-color: rgba(79, 70, 229, 0.1);
        border: 1px solid var(--border);
        border-radius: 12px;
        display: flex;
        flex-direction: column;

        .note__subscrube {
          display: flex;
          flex: 1;
          justify-content: space-between;
          .delete__item {
            width: 100px;
            line-height: 24px;
            font-size: 16px;
            font-family: serif;
            text-align: center;
            margin: 5px;
            padding: 5px;
            border: 1px solid var(--border);
            background-color: rgba(229, 70, 70, 0.1);
            color: #854242;
            border-radius: 12px;
            transition: 0.5s;
            &:hover {
              background-color: #854242;
              color: var(--bg-secondary);
              transition: 0.5s;
              cursor: pointer;
            }
            @media (max-width: 500px) {
              width: 80px;
              line-height: 18px;
              font-size: 12px;
            }
          }
          .date__item {
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            text-align: center;
            margin: 0px;
          }
        }
        .date__item {
          color: var(--text-secondary);
          font-size: 12px;
          font-weight: 200;
        }
        .note__item {
          .text__item {
            padding: 10px;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: left;
            font-size: 16px;
            font-weight: 100;
          }
        }
      }
    }
  }
}
