* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  position: relative;
}

:host {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

  font-family: 'Inter', sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
}

aside {
  background: var(--bg-secondary);
  border-right: 1px solid var(--border);
}
