.period-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;

  .changePeriodbtn {
    width: 100px;
    text-align: center;
    line-height: 24px;
    border: 1px solid var(--border);
    background-color: rgba(79, 70, 229, 0.1);
    color: var(--text-secondary);
    margin: 0 10px;
    border-radius: 12px;
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      background-color: var(--primary);
      color: var(--bg-secondary);
      transition: 0.5s;
    }
  }
}

.grafic {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  .tempChartData {
    flex: 1;
    width: 100%;
    background-color: rgba(79, 70, 229, 0.1);
    margin-bottom: 20px;
    border: 1px solid var(--border);
    border-radius: 12px;
    @media (max-width: 1235px) {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 1024px) {
      flex: 1;
    }
  }
  .humidityChartData {
    flex: 1;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--border);
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    background-color: rgba(79, 70, 229, 0.1);

    @media (max-width: 1235px) {
      width: 100%;
      height: 100%;
    }
    .humidityH3 {
      color: var(--text-secondary);
      font-size: 14px;
      font-weight: 500;
    }
  }
}
:host ::ng-deep {
  p-chart {
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
