:root {
  --primary: #4f46e5;
  --secondary: #06b6d4;
  --bg-secondary: #ffffff;
  --text-primary: #1e293b;
  --text-secondary: #64748b;
  --accent: #10b981;
  --border: #e2e8f0;
  --detele: #a65a5a;
}
